/* 
============================
| Join section / Присоединяйтесь
============================
*/

.footer__icon-group {
  display: block;
  margin-right: 93px;
}

.footer__icon-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__icon-item:not(:last-child) {
  margin-right: 10px;
}

.footer__icon-link {
  background-color:  var(--accent-bg-cl);
  
  &:hover,
  &:focus {
  background-color: var(--accent-cl);
}}

.footer__icon {
  fill: var(--main-white-cl);
}