/* 
============================
| Join section / Присоединяйтесь
============================
*/

.footer__icon-group {
  display: block;
  margin-right: 93px;
}

.footer__title {
  margin-bottom: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-white-cl);
}

.footer__icon-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__icon-item:not(:last-child) {
  margin-right: 10px;
}

.footer__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--main-animation); 
  background-color:  rgba(255, 255, 255, 0.1);
  
  &:hover,
  &:focus {
  background-color: var(--accent-cl);
}}

.footer__icon {
  width: 20px;
  height: 20px;
  fill: var(--main-white-cl);
}